.team-summary {
  display: flex;
  align-items: flex-start;
  .team-image {
    flex: 0 0 120px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .team-content {
    flex: 1;
    .team-title {
      font-family: $font-family-heading;
      font-size: 1.5rem;
    }
    p {
      color: #666;
      font-size: 0.9rem;
      width: 90%;
    }
  }
}
